.Title, .Subtitle, .Description{
    color: white;
    opacity: 0; /*initial*/
    transform: translateY(20px);
    transition: opacity 1.5s, transform 1.5s ease;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}
  
.about-us-page {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
  }

  .content {
    position: relative;
    text-align: center;
    color: white; 
    padding: 1rem;
  }

.Title{
    font-family: poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.Subtitle{
    font-family: poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2rem;
    margin-bottom: 0;
}

.Description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.Description{
    text-align: justify;
    font-family: poppins;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
