.add-to-cart {
    width: 100%;
    background-color: #d4af37;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}
  
.add-to-cart:hover {
    background-color: #c09730;
}

/*cart page*/
.cart-page{
    padding:30px;
    padding-left:100px;
    padding-right: 100px;
    background-color: #fff;
}

.cart-page > *:first-child {
    margin-top: 0; /* Remove any top margin from the first child (SearchBar) */
}

.cart-page h1{
    font-family: poppins;
    font-size: 2rem;
    text-align: center;
    margin-top: -10px;
    color: black;
}

.cart-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin: 0 auto;
    max-width: 80%;
}

.cart-items{
    flex: 2;
    max-width: 60%;
}

/*cart item*/
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width:100%;
}
  
.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 16px;
    border: 1px solid #ddd;
}
  
.cart-item div {
    flex: 1;
  }
  
.cart-item h3 {
    margin: 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #333;
}
  
.cart-item p {
    margin: 4px 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #666;
}
  
.cart-item div > div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}
  
.cart-item button {
    padding: 4px 8px;
    border: none;
    border-radius: 6px;
    background-color: #2e3a47;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}
  
.cart-item button:hover {
    background-color: #707b88;
}
  
.cart-item button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.cart-item span {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

/*cart summary*/
.cart-summary {
    flex: 2;
    max-width: 40%;
    border: 1px solid #ddd;
    padding: 18px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
}

.cart-summary h3{
    margin-top: 0%;
    font-family: poppins;
    font-size: 1.5rem;
    color: black;
}

.cart-summary p{
    font-family: poppins;
    color: black;
}

.cart-summary button {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #2e3a47;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.cart-summary button:hover {
    background-color: #707b88;
}

.empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: auto;
    max-width: 500px; 
}

.empty-cart img {
    width: 50%;
    max-width: 150px;
    filter: none;
    cursor: grab;
    margin-bottom: 20px;
    z-index:10;
    position:relative;
}

.empty-cart h2{
    font-family: poppins;
    font-size: 1.5rem;
    text-align: center;
    color: black;
}
.empty-cart p{
    font-family: poppins;
    font-size: 1rem;
    text-align: center;
    color: black;
}

.empty-cart button {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #2e3a47;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
}

.empty-cart button:hover {
    background-color: #707b88;
  }