@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

.cart-n-checkout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}

.cart-container {
  width: 60vw;
  min-height: 55vh;
  margin: 3rem 2rem 3rem 5vw;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-n-clear-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-header {
  margin: 2rem 2rem 0;
  font-size: 1.75rem;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.header-n-clear-all button {
  margin: 2rem 2rem 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border: none;
  text-decoration: underline;
  cursor: grab;
}

.header-n-clear-all button:hover {
  opacity: 0.7;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin: 1rem 2rem;
  padding: 0.5rem 0;
  border: 1px solid rgba(88, 88, 88, 0.3);
  border-radius: 0.75rem;
  transition: ease 0.25s;
}

.cart-item:hover {
  transform: scale(1.01);
}

.cart-item-image {
  margin: 0 0 0 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.cart-item-info {
  margin: 0 2rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.price {
  margin: 0;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.cart-action {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0 0;
  width: 100%;
  align-items: center;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
}

.quantity-control button:disabled {
  background-color: #ccc;
}

.quantity-input {
  width: 50px;
  text-align: center;
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remove-button {
  background-color: #dc3545;
  color: white;
  border: none;
  margin: 0 0.5rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Order Summary */
.order-summary {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 3rem 5vw 3rem 0;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
}

.order-summary h1 {
  margin: 2rem 2rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.order-summary p {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

.summary-row {
  display: flex;
  justify-content: space-between;
}

.summary-title,
.summary-value {
  font-size: 1rem;
  padding: 0;
  line-height: 2;
}

.summary-title {
  margin: 0 0 0 2rem;
}

.summary-value {
  margin: 0 2rem 0 0;
}

.payment-summary
.payment-btn {
  margin: 1rem 2rem;
  padding: 1rem;
  width: calc(100% - 4rem);
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 1.5rem;
  cursor: grab;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.payment-summary
.payment-btn:hover {
  background-color: #333333;
  opacity: 0.9;
}

.cart-n-checkout
.payment-btn {
  margin: 1rem 2rem;
  padding: 1rem;
  width: calc(100% - 4rem);
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 1.5rem;
  cursor: grab;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.cart-n-checkout
.payment-btn:hover {
  background-color: #333333;
  opacity: 0.9;
}

.payment-methods img {
  margin: 0;
}

.payment-logo {
  list-style-type: none;
  margin: 0 2rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.payment-logo li {
  margin: 5px 5px;
}

.payment-logo a {
  display: block;
}

.payment-logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Empty Cart */

.empty-cart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.browse-btn {
  padding: 5px 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 2rem;
  font-size: 0.85rem;
  font-weight: 500;
  transition: background-color 0.2s, transform 0.2s;
}

.browse-btn:hover {
  background-color: #fffafa;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

/* Checkout */
.payment-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}

.payment-container {
  width: 60vw;
  min-height: calc(100vh - 15rem);
  margin: 3rem 2rem 3rem 5vw;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.checkout-header {
  margin: 1.5rem 2rem;
}

.checkout-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
  margin: 0 2rem;
}

.form-row-address {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  margin: 0 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 16px;
  color: #333;
  margin: 0.5rem 0;
}

.form-group input {
  margin-bottom: 1rem;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.card {
  margin: 2rem;
  width: 320px;
  height: 200px;
  border-radius: 10px;
  perspective: 1000px;
  cursor: pointer;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 600ms ease;
  transform-style: preserve-3d;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

/* Card 1 */
.card-front-1,
.card-back-1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  backface-visibility: hidden;
  background: linear-gradient(321.03deg, #01adef 0%, #0860bf 91.45%);
}

.card-front-1 {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 300ms ease-in-out;
}

.card-back-1 {
  transform: rotateY(180deg);
}

.card-back-1::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 20%;
  width: 180%;
  height: 120%;
  border-radius: 100%;
  background-image: linear-gradient(
    to right top,
    #a3d4e7,
    #a7d5e6,
    #abd5e4,
    #aed6e3,
    #b2d6e2,
    #aed4e2,
    #abd3e1,
    #a7d1e1,
    #9bcee1,
    #8ecae1,
    #81c7e1,
    #73c3e1
  );
  filter: blur(10px);
  opacity: 0.15;
}

.card-back-1::after {
  content: "";
  position: absolute;
  top: 15%;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(
    to right top,
    #021318,
    #07191f,
    #0a1f26,
    #0b262e,
    #0c2c35,
    #0c2c35,
    #0c2c35,
    #0c2c35,
    #0b262e,
    #0a1f26,
    #07191f,
    #021318
  );
}

.card-bg-1 {
  position: absolute;
  top: -20px;
  right: -120px;
  width: 380px;
  height: 250px;
  background: linear-gradient(321.03deg, #01adef 0%, #0860bf 91.45%);
  border-top-left-radius: 100%;
}

.card-bg-1::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -80px;
  width: 380px;
  height: 250px;
  background: linear-gradient(321.03deg, #01adef 0%, #0860bf 91.45%);
  border-top-left-radius: 100%;
}

.card-bg-1::after {
  content: "";
  position: absolute;
  top: -20px;
  right: -120px;
  width: 380px;
  height: 250px;
  background: linear-gradient(321.03deg, #01adef 0%, #0860bf 91.45%);
  border-top-left-radius: 100%;
}

.card-glow-1 {
  position: absolute;
  top: -140px;
  left: -65px;
  height: 200px;
  width: 400px;
  background: rgba(0, 183, 255, 0.4);
  filter: blur(10px);
  border-radius: 100%;
  transform: skew(-15deg, -15deg);
}

/* Card 2 */
.card-front-2,
.card-back-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  backface-visibility: hidden;
  background: linear-gradient(
    321.03deg,
    rgb(5, 248, 155) 0%,
    rgb(0, 117, 72) 91.45%
  );
}

.card-front-2 {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 300ms ease-in-out;
}

.card-back-2 {
  transform: rotateY(180deg);
}

.card-back-2::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 20%;
  width: 180%;
  height: 120%;
  border-radius: 100%;
  background-image: linear-gradient(
    to right top,
    #a3d4e7,
    #a7d5e6,
    #abd5e4,
    #aed6e3,
    #b2d6e2,
    #aed4e2,
    #abd3e1,
    #a7d1e1,
    #9bcee1,
    #8ecae1,
    #81c7e1,
    #73c3e1
  );
  filter: blur(10px);
  opacity: 0.15;
}

.card-back-2::after {
  content: "";
  position: absolute;
  top: 15%;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(
    to right top,
    #021318,
    #07191f,
    #0a1f26,
    #0b262e,
    #0c2c35,
    #0c2c35,
    #0c2c35,
    #0c2c35,
    #0b262e,
    #0a1f26,
    #07191f,
    #021318
  );
}

.card-bg-2 {
  position: absolute;
  top: -20px;
  right: -120px;
  width: 380px;
  height: 250px;
  background: linear-gradient(
    321.03deg,
    rgb(5, 248, 155) 0%,
    rgb(0, 117, 72) 91.45%
  );
  border-top-left-radius: 100%;
}

.card-bg-2::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -80px;
  width: 380px;
  height: 250px;
  background: linear-gradient(
    321.03deg,
    rgb(5, 248, 155) 0%,
    rgb(0, 117, 72) 91.45%
  );
  border-top-left-radius: 100%;
}

.card-bg-2::after {
  content: "";
  position: absolute;
  top: -20px;
  right: -120px;
  width: 380px;
  height: 250px;
  background: linear-gradient(
    321.03deg,
    rgb(5, 248, 155) 0%,
    rgb(0, 117, 72) 91.45%
  );
  border-top-left-radius: 100%;
}

.card-glow-2 {
  position: absolute;
  top: -140px;
  left: -65px;
  height: 200px;
  width: 400px;
  background: rgba(0, 223, 156, 0.4);
  filter: blur(10px);
  border-radius: 100%;
  transform: skew(-15deg, -15deg);
}

.card-contactless {
  position: absolute;
  right: 15px;
  top: 55px;
  transform: scale(0.5);
}

.card-chip {
  position: absolute;
  top: 65px;
  left: 25px;
  width: 45px;
  height: 34px;
  border-radius: 5px;
  background-color: #ffda7b;
  overflow: hidden;
}

.card-chip::before {
  content: "";
  position: absolute;
  left: 49%;
  top: -7%;
  transform: translateX(-50%);
  background: #ffda7b;
  border: 1px solid #a27c1f;
  width: 25%;
  height: 110%;
  border-radius: 100%;
  z-index: 2;
}

.card-chip::after {
  content: "";
  position: absolute;
  top: 30%;
  left: -10%;
  background: transparent;
  border: 1px solid #a27c1f;
  width: 120%;
  height: 33%;
}

.card-holder {
  position: absolute;
  left: 25px;
  bottom: 30px;
  color: white;
  font-size: 14px;
  letter-spacing: 0.2em;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card-number {
  position: absolute;
  left: 25px;
  bottom: 65px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2em;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card-valid {
  position: absolute;
  right: 25px;
  bottom: 30px;
  color: white;
  font-size: 14px;
  letter-spacing: 0.2em;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card-valid::before {
  content: "GOOD THRU";
  position: absolute;
  top: 1px;
  left: -35px;
  width: 50px;
  font-size: 7px;
}

.card-signature {
  position: absolute;
  top: 120px;
  left: 15px;
  width: 70%;
  height: 30px;
  background: #eeecec;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #021318;
  font-family: "Mr Dafoe", cursive;
  font-size: 38px;
  font-weight: 400;
}

.card-signature::before {
  content: "Authorized Signature";
  position: absolute;
  top: -15px;
  left: 0;
  font-family: "Overpass Mono", monospace;
  font-size: 9px;
  color: #eeecec;
}

.card-seccode {
  position: absolute;
  top: 125px;
  left: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 17px;
  color: #021318;
  background-color: #eeecec;
  text-align: center;
  font-size: 11px;
}

.card-logo {
  position: absolute;
  right: 25px;
  top: 30px;
}

.hint {
  padding: 2em 0;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 0.025em;
  font-weight: 400;
  color: #a3d4e7;
}