@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cart-container {
    width: 60vw;
    min-height: 40vh;
    margin: 3rem auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: "Poppins", sans-serif;
}

.cart-header {
    margin: 2rem 0 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.cart-item {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    padding: 10px 0;
    border: 1px solid rgba(88, 88, 88, 0.3);
    border-radius: 0.75rem;
    transition: ease 0.25s;
}

.cart-item:hover {
    transform: scale(1.01);
}

.cart-item-image {
    margin: 0 0 0 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.cart-item-info {
    margin: 0 2rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.price {
    margin: 0;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.cart-action {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0 0;
    width: 100%;
    align-items: center;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
    cursor: pointer;
}

.quantity-control button:disabled {
    background-color: #ccc;
}

.quantity-input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remove-button {
    background-color: #dc3545;
    color: white;
    border: none;
    margin: 0 0.5rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
