@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

.cart-n-checkout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}

.cart-container {
    width: 60vw;
    min-height:55vh;
    margin: 3rem 2rem 3rem 8vw;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-n-clear-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-header {
    margin: 2rem 2rem 0;
    font-size: 1.75rem;
    font-weight: 700;
    color: #000000;
    text-align: left;
}

.header-n-clear-all button {
    margin: 2rem 2rem 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border: none;
    text-decoration: underline;
    cursor: grab;
}

.header-n-clear-all button:hover {
    opacity: 0.7;
}

.cart-item {
    display: flex;
    flex-direction: row;
    margin: 1rem 2rem;
    padding: 0.5rem 0;
    border: 1px solid rgba(88, 88, 88, 0.3);
    border-radius: 0.75rem;
    transition: ease 0.25s;
}

.cart-item:hover {
    transform: scale(1.01);
}

.cart-item-image {
    margin: 0 0 0 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.cart-item-info {
    margin: 0 2rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.price {
    margin: 0;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.cart-action {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0 0;
    width: 100%;
    align-items: center;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
    cursor: pointer;
}

.quantity-control button:disabled {
    background-color: #ccc;
}

.quantity-input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remove-button {
    background-color: #dc3545;
    color: white;
    border: none;
    margin: 0 0.5rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Order Summary */
.order-summary {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 3rem 5vw 3rem 0;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 1rem;
    font-family: "Poppins", sans-serif;
}

.order-summary h1 {
    margin: 2rem 2rem;
    font-size: 1.75rem;
    font-weight: 700;
    color: #000000;
    text-align: left;
}

.order-summary p {
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}

.summary-row {
    display: flex;
    justify-content: space-between;
}

.summary-title, .summary-value {
    font-size: 1rem;
    padding: 0;
    line-height: 2;
}

.summary-title {
    margin: 0 0 0 2rem;
}

.summary-value {
    margin: 0 2rem 0 0;
}

.payment-btn {
    margin: 1rem 2rem;
    padding: 1rem;
    width: calc(100% - 4rem);
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 1.5rem;
    cursor: grab;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.payment-btn:hover {
    opacity: 0.9;
}

.payment-methods img {
    margin: 0;
}

.payment-logo {
    list-style-type: none;
    margin: 0 2rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.payment-logo li {
    margin: 5px 5px;
}

.payment-logo a {
    display: block;
}

.payment-logo img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Empty Cart */

.empty-cart {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.browse-btn {
    padding: 5px 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 2rem;
    font-size: 0.85rem;
    font-weight: 500;
    transition: background-color 0.2s, transform 0.2s;
}

.browse-btn:hover {
    background-color: #fffafa;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}