.form-container {
  /* max-width: 600px; */
  min-width: 600px; /* Set a minimum width */
  max-height: 80vh; /* Relative to viewport height */
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Add scroll if content exceeds height */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

   /* Hide scrollbar for WebKit browsers */
 ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.form-field {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; /* Stack label and input vertically */
  align-items: flex-start; /* Align items to the left */
}

.form-field label {
  font-weight: bold;
  margin-right: 8px;
}

.form-field input {
  flex-grow: 1;
  width: 95%;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: flex-start;
}

.form-field button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-field button:hover {
  background-color: #0056b3;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #218838;
}


