@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

header {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6rem;
    background-color: beige;
    margin: 0;
    padding: 0;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

div h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 0;
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 50%;
    height: auto;
}

/* Navigation Bar */

.navbar {
    width: 50%;
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.navbar ul li {
    transition: opacity 0.3s ease;
}

.navbar ul li:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    opacity: 75%;
}

.navbar ul li a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.cart-profile {
    display: flex;
    height: 2.5rem;
    gap: 20px;
    
}

.cart-profile img {
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(100%);
    cursor: grab;
}

.cart-profile img:hover {
    opacity: 85%;
}

/* Search Bar */

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 2rem auto;
    position: relative;
}

input#search-bar {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    background-color: #d8d8d8;
    color: #FFFFFF;
    border-radius: 10px;
    outline: none;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: auto;
    cursor: pointer;
}


input#search-bar:focus {
    border: 1px solid #000000;
    transition: 0.35s ease;
    color: #000000;
    opacity: 100%;
}

input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

input#search-bar:-ms-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

/* Sections/Divisions */

.section-1, .section-2, .section-3 {
    height: 100vh;
}

.section-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    background-image: url('assets/bg_1.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
}

.section-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: white;
    color: #000000;
    font-family: "Poppins", sans-serif;
}

.section-3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    align-items: center;
    background-image: url('assets/bg_3.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: overlay;
}

/* Footer */

.footer-container {
    height: auto;
	width: 100vw;
    margin: 0 auto;
    padding: 0 22.5vw;
}

.footer-row {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
}

.footer ul {
	list-style: none;
    margin: 0 auto;
    padding: 0;
}

.footer {
	background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
   width: 25%;
   padding: 0;
}

.footer-col h4 {
    font-family: "Poppins", sans-serif;
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #9e1bf5;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
    font-family: "Poppins", sans-serif;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}