.login-page {
  display: flex;
  text-align: center;
  height: calc(100vh - 5rem);
  background-color: #f0f0f0;
  color: black;
}

.login-container {
  margin: auto;
  width: 400px;
  text-align: left;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-field {
  margin: 0;
}

.form-field input {
  width: 370px;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
  font-size: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
  color: white;
}
