.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-content input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-content button {
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-content button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .modal-content button[type="button"] {
    background-color: #ccc;
  }
  
.warning {
    color: red;
    margin-bottom: 10px;
  }