.profile-dropdown {
    position: relative;
    display: inline-block;
    border-radius: 4px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: white;
    color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 8px;
    z-index: 1000;
    border-radius: 4px;
  }
  
  .dropdown-menu button {
    background: none;
    color: black;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    text-align: left;
    width: 100%;
  }
  
  .dropdown-menu button:hover {
    background: #f0f0f0;
  }
  