@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

header {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6rem;
    background-color: beige;
    margin: 0;
    padding: 0;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

div h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-align: center;
}

/* MainPage.tsx */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 0;
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 50%;
    height: auto;
}

.navbar {
    width: 50%;
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.navbar ul li {
    transition: opacity 0.3s ease;
}

.navbar ul li:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    opacity: 75%;
}

.navbar ul li a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.cart-profile {
    display: flex;
    gap: 20px;
    
}

.cart-profile img {
    width: 2.5rem;
    height: auto;
    filter: invert(100%);
    cursor: grab;
}

.cart-profile img:hover {
    opacity: 85%;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 2rem auto;
    position: relative;
}

input#search-bar {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    background-color: #12181f;
    color: #FFFFFF;
    border-radius: 10px;
    outline: none;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: auto;
    cursor: pointer;
    filter: invert(100%);
}


input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #FFFFFF;
    opacity: 100%;
}

input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

input#search-bar:-ms-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}

.carousel {
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.slides {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides img {
    width: 60%;
    height: auto;
}

.section-1, .section-2, .section-3 {
    height: 100vh;
}

.section-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    background-image: url('assets/bg_1.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: overlay;
}

.section-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: white;
    color: #000000;
    font-family: "Poppins", sans-serif;
}

.section-3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    align-items: center;
    background-image: url('assets/bg_3.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: overlay;
}

.about-us {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    padding: 0;
    margin: 0 auto;
    width: 60%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.about-us h2 {
    font-size: 2rem;
}

.about-us p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 auto;
}

.shop-by-category {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-by-category h2 {
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
    color: #000000;
}

.categories {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    border: 3px solid silver;
    border-radius: 20px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.category:hover {
    opacity: 70%;
    transform: scale(1.1);
    transition: transform 0.75s;
}

.category img {
    width: 5rem;
    height: auto;
}

.category span {
    margin: 1rem 0 0 0;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.product-info {
    color: #000000;
    background-color: white;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    border-radius: 5px;
}

.product-info h3, h4 {
    margin: 0 auto;
}

.product-info h3 {
    margin: 0 0.5rem;
    font-size: 0.82rem;
    text-align: center;
    font-weight: 400;
}

.product-info h4 {
    margin: 0 0.5rem;
    padding: 0.25rem 0 0;
    font-size: 1rem;
    text-align: center;
}

.slide-container {
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.slide-container h2 {
    margin-top: 3rem;
    font-size: 2rem;
}

.slider {
    height: 50vh;
    width: calc(100vw * 0.6);
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    background: transparent;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    display: flex;
    width: calc(250px * 14);
}

.slide {
    width: 250px;
    height: 100px;
    cursor: grab;
}

.slide:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.slide img {
    width: 85%;
    height: auto;
}

.slide-details {
    text-align: center;
    font-size: 0.8em;
}

.brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 40vh;
    margin: 0 auto;
    padding-top: 2.5rem;
}

.brand-container h2 {
    margin: 0 auto;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    width: calc(100vw * 0.6);
    text-align: center;
}

.brands-wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0;
    width: 60%;
    align-items: center;
    background-color: #000000;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.brand-link {
    display: flex;
    flex-direction: row;
    width: 15%;
    align-items: center;
    justify-content: center;
}

.brand-link img {
    width: 75%;
    cursor: grab;
}

.brand-link img:hover {
    transform: scale(1.1);
    transition: transform 0.75s;
}

.see-more {
    text-align: center;
    margin: 2rem auto;
    cursor: grab;
}

.see-more:hover {
    opacity: 85%;
}

.see-more a {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.accordian-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60vh;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    overflow: hidden;
}

.accordian-container h2 {
    font-size: 2rem;
    margin-top: 0.25rem;
}

.accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;;
}
  
.accordion .accordion-item {
    background-color: rgb(0, 0, 0, 0.5);
    border: 1px solid #000000;
    color: #FFFFFF;
    border-radius: 0.35rem;
}
  
.accordion .accordion-item .accordion-item-description-wrapper hr {
    border: none;
    border-top: 1px solid #000000;
    visibility: visible;
}
  
.accordion .accordion-item.open .accordion-item-description-wrapper hr {
    visibility: visible;
}
  
.accordion .accordion-item .accordion-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    cursor: pointer;
}
  
.accordion .accordion-item .accordion-item-header .accordion-item-header-title {
    font-weight: 500;
}
  
.accordion .accordion-item .accordion-item-header .accordion-item-header-icon {
    transition: 0.3s ease;
}
  
.accordion .accordion-item.open .accordion-item-header .accordion-item-header-icon {
    transform: rotate(-180deg);
}
  
.accordion .accordion-item .accordion-item-description-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: 0.3s ease;
}
  
.accordion .accordion-item.open .accordion-item-description-wrapper {
    grid-template-rows: 1fr;
}
  
.accordion .accordion-item .accordion-item-description-wrapper .accordion-item-description {
    min-height: 0;
}
  
.accordion .accordion-item .accordion-item-description-wrapper .accordion-item-description p {
    font-weight: 200;
    padding: 0.5rem 2rem;
    line-height: 1.5;
    text-align: left;
}

.footer-container {
    height: auto;
	width: 100vw;
    margin: 0 auto;
    padding: 0 22.5vw;
}

.footer-row {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
}

.footer ul {
	list-style: none;
    margin: 0 auto;
    padding: 0;
}

.footer {
	background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
   width: 25%;
   padding: 0;
}

.footer-col h4 {
    font-family: "Poppins", sans-serif;
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #9e1bf5;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
    font-family: "Poppins", sans-serif;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

/* Fender.tsx */

.intro-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    justify-content: center;
    margin: 0 auto 5rem;
    font-family: "Poppins", sans-serif;
}

.intro-container p {
    padding: 0 0 0 2rem;
    font-size: 1rem;
    text-align: justify;
}

.intro-container img {
    height: 115%;
    width: auto;
}

.filter {
    width: 100%;
    margin: 2rem 30% 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filter p {
    margin-right: 1.25rem;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    color: #383838;
}

.sort {
    padding: 8px 15px;
    background-color: #FFFFFF;
    border: 1px solid #4b4949;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-align-last: center;
    cursor: pointer;
    appearance: none;
    position: relative;
    transition: border-color 0.3s ease;
}
  
.sort:hover {
    opacity: 0.8;
}
  
.sort::-ms-expand {
    display: none;
    text-align: center;
}

.product-section {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
  
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 75%;
    margin: 20px 0;
    color: #000000;
    text-align: center;
}
  
.product-section-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    cursor: grab;
}

.product-section-card:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

 .product-grid-info h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.product-grid-info h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
}
  
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
  
.pagination button {
    padding: 10px 20px;
    margin: 0 0.55rem 3rem 0.55rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    cursor: pointer;
}

.pagination button:hover {
    opacity: 0.6;
}
  
.pagination button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    border: 1px solid rgb(0, 0, 0, 60%);
}

/* Product Page */

.product-details-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Poppins", sans-serif;
}

.product-details-container h2 {
    margin: 1.5rem auto;
    font-size: 1.5rem;
    width: 70%;
}

.product-details-container h3 {
    margin: 1.5rem 0;
    width: 70%;
    color: #000000;
    font-size: 1rem;
    text-align: left;
    width: 70%;
    font-weight: 400;
    text-align: justify;
}

.product-details-row-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    flex-grow: 1;
}

.product-details-row-1 img {
    width: 50%;
}

.product-details-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 70%;
    gap: 3rem;
}

.product-details-desc {
    padding: 0;
    margin: 2rem 0;
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
}

.product-details-desc h2 {
    text-align: left;
    margin: 0;
}

.product-details-desc p {
    margin: 1.5rem 0 5rem;
    text-align: justify;
}

.price-cart {
    width: 30vw;
}

.price-cart-card {
    border: 1px solid #DDD;
    padding: 20px;
    background-color: #FFFFFF;
    max-width: 300px;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
  
.price {
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
  
.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.quantity-control button {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.quantity-control input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    margin: 0 5px;
}

.quantity-control button:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
}

.quantity-control input[type="number"]::-webkit-inner-spin-button,
.quantity-control input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0 auto;
    text-align: center;
}

.quantity-control input:focus {
    border-color: #d4af37; /* Highlighted border color */
    outline: none;
}
  
.add-to-cart {
    width: 100%;
    background-color: #d4af37;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}
  
.add-to-cart:hover {
    background-color: #c09730;
}
  
.availability {
    font-size: 0.9rem;
    text-align: left;
    margin-top: 20px;
}